.body {
    margin: 0 0;
}

.header {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;

    .headerLink {
        text-decoration: none;
    }
}

.footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}